#flashMessage {
	font-size: 1.2em;
	padding: 0.8em;
	/*background: #fff6bf;*/
	color: #514721;
	/*border: 2px solid #ffd324;*/
	text-align: center;
	z-index:10000;
	/*position:absolute;
	top:0;*/
	width: 100%;
	/*left:0;*/
}

.success {
	background: #e6efc2;	
	border-color: #c6d880;
	color: #264409;
}
#flashMessage.success {
	background: none;
	border: none;
}
#flashMessage.error {
	margin:20px;
	border: 1px solid;
}
.error {
	background: #fbe3e4;	
	border-color:#fbc2c4;
	color: #8a1f11;
}

.neutral {
	background-color: #FEFFF0;	
	border-color: #4F4800;
	padding: 20px;
}
.profile .message .author {
	display:none;
}

.inline-error {
	color: #E2147F;	
	font-weight: bold;	
}

#single_post .message_text{
	font-size: 300%;
	display: block;
}