body {
	background-color: #fff;
	margin: 40px;
	font-family: Lucida Grande, Verdana, Sans-serif;
	font-size: 14px;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 16px;
	font-weight: bold;
	margin: 24px 0 2px 0;
	padding: 5px 0 6px 0;
}

code {
	font-family: Monaco, Verdana, Sans-serif;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

label {
	display: block;
	width: 100%;
	float: left;
	font-weight: bold;
	padding: 0 0 3px 0;
}

.mod {
	width: 100%;
	float: left;
	clear: both;
	padding: 0 0 25px 0;
}

.flashMessage {
	padding: 0.8em;
	background: #fff6bf;
	color: #514721;
	margin-bottom: 1em;
	border: 2px solid #ffd324;
}

.success {
	background: #e6efc2;	
	border-color: #c6d880;
	color: #264409;
}

.error {
	background: #fbe3e4;	
	border-color:#fbc2c4;
	color: #8a1f11;
}

.neutral {
	background-color: #ffffdd;	
	border-color: #4F4800;
}
.profile .message .author {
	display:none;
}
.message .author a{
	font-weight: bold;
}

.message .meta {
	display:block;
	font-size: 0.8em;
	font-style:oblique;
}

.inline-error {
	color: #E2147F;	
	font-weight: bold;	
}

#single_post .message_text{
	font-size: 300%;
	display: block;
	float: left;
	width: 100%;
}