
/* DOCUMENT & HELPERS STYLES
---------------------------------------------- */
    /* most CSS reset handled by reset-fonts-grids.css, courtesy of YUI */

  /* ::::: Additional Resets ::::: */
:active, :focus { outline:0 !important; }

  /* ::::: Document Styles ::::: */
html, body {background:#fff url(/assets/img/bg.png) repeat-x;}
body {  color:#2a2a2a; line-height:1; text-align:center; font-family:arial, sans-serif; margin:0; padding:0; }

a { text-decoration:none; }
/*a:hover { text-decoration:underline; }*/

.outer { margin:0 auto; padding:0; text-align:left; width:1024px;  }
.inner { margin:0 auto; padding:0; width:960px; _width:940px; position:relative; }

  /* ::::: Helper Styles ::::: */
.clearfix:after { content:"."; display:block; height:0; font-size:0; line-height:0;clear:both; visibility:hidden; }
.clearfix { min-height:1px; height:auto !important; height:1px; }

.hide { display:none; }
.show { display:auto; }

/* HEADER STYLES
---------------------------------------------- */
#hd { position:relative; background:#107ebd url(/assets/img/banner_1024x122.jpg) no-repeat 50% 0; }
#hd h1 { position:relative; height:122px; line-height:122px; margin:0; padding:0; }
#hd h1 a { display:block; height:122px; text-indent:-9999px; }
#hd h1 a:hover { text-decoration:none; }


/* NAVIGATION STYLES
---------------------------------------------- */
#nav { width:960px; _width:940px; overflow:hidden; position:relative; margin:-105px 0 0; *margin-top:-103px; _margin-top:-104px; padding:0; }
#nav ul, #nav ul li { display:block; }

  /* ::::: Main Nav ::::: */
#nav .main-nav { height:32px; margin:71px 0 0 229px;  }
#nav .main-nav li { display:inline; float:left; width:108px; height:34px; margin:0 1px; font-size:123.1%; }
#nav .main-nav li a { display:block; height:34px; background:#107ebd url(/assets/img/sprite_tabs.png) no-repeat 0 -34px; color:#1d3d70; text-align:center; line-height:34px; text-decoration:none; }
#nav .main-nav li a:hover { background-position:0 -68px !important; }
#nav .main-nav li.active a { background-position:0 0 !important; color:#000; cursor:default; }

  /* ::::: Secondary Nav ::::: */
#nav .sec-nav { background:#3997cc; -moz-border-radius:5px; -webkit-border-radius:5px; position:absolute; top:3px; right:0; height:25px; width:198px; overflow:hidden; }
#nav .sec-nav li { display:block; position:relative; float:left; height:14px; line-height:10px; letter-spacing:.01em; padding:5px 3px 0 5px; margin:0 0 0 -7px; }
#nav .sec-nav li a { border-left:1px solid #2a2a2a; color:#fff; font-size:93%; padding:0 8px 0 12px; vertical-align:top; line-height:15px; }
#nav .sec-nav li a:hover {}


/* BODY STYLES
---------------------------------------------- */
#bd { position:relative; }

  /* ::::: Thumbnails ::::: */ 
.thumb-sm { display:block; height:24px; width:24px; }
.thumb-sm img { height:24px; width:24px; }
.thumb-med { display:block; height:36px; width:36px; }
.thumb-med img { height:36px; width:36px; }
.thumb-lg { display:block; height:48px; width:48px; }
.thumb-lg img { height:48px; width:48px; }

  /* ::::: Sidebar ::::: */
.sidebar { display:block; position:absolute; width:230px; height:700px; z-index:1; background:transparent url(/assets/img/bg_sidebar.png) no-repeat 0 0; margin:20px 0 0 0px; left:0; top:0; min-height:650px;}
.user-box { color:#fff; margin:30px 0 0 20px; }
.user-box .thumb-med { display:block; float:left; margin:0 10px; }
.user-box h2 { font-size:161.6%; }
.user-box h2 a { color:#fff; }
.user-box address { font-size:108%; line-height:1.4em; }
.user-box .user-stats { margin:15px 0 5px; background:#399ccc; -moz-border-radius:7px; -webkit-border-radius:7px; width:200px; height:50px; overflow:hidden; }
.user-box .user-stats li { display:inline; float:left; width:55px; margin:7px 5px 0 6px; }
.user-box .user-stats li a { text-align:center; }
.user-box .user-stats li a span { display:block; margin:0 0 .25em; text-align:center; }
.user-box .user-stats li .count { color:#fff; font-family:verdana, sans-serif; font-size:123.1%; }
.user-box .user-stats li .label { color:#1d3e71; font-size:93%; }

.message-stats { position:absolute; top:223px; left:20px; width:210px; }
.message-stats li { border-top:1px solid #fff; margin-bottom:1px; height:40px; line-height:40px; padding:0 20px 0 10px; }
.message-stats li h3 { font-size:123.1%; position:relative; z-index:1; }
.message-stats li a { display:block; color:#fff; }
.message-stats li .count { background:#1b98c8; color:#f5f5f5; -moz-border-radius:5px; -webkit-border-radius:5px; font-size:75%; height:25px; line-height:25px; position:absolute; right:0; padding:0 6px; top:8px; *top:1px; }
.message-stats li.active { background:#fff; }
.message-stats li.active a { color:#399ccc; }
 
.teammates { width:180px; position:absolute; clear:both; left:30px; top:475px; }
.teammates h3 { position:relative; color:#fff; font-size:123.1%; font-weight:bold; margin:0 0 .75em; }
.teammates h3 .count { position:absolute; font-size:93%; right:0; top:0; }
.teammates ul { display:block; }
.teammates ul li { display:inline; float:left; position:relative; margin:0 6px 5px 0; }
.teammates .view-all-link { display:block; float:right; position:relative; font-size:93%; color:#fff; margin:.75em 0 0; }
.teammates .view-all-link:hover { text-decoration:underline; }

  /* ::::: Content ::::: */
.bd { position:relative; z-index:2; background:#fff; width:768px; background:transparent url(/assets/img/bg_content.png) repeat-y 0 0;  margin:0 0 0 211px; padding:30px 0 20px; _background:transparent; _background:#fff; _margin:0 0 0 230px; _width:758px; }

.form-share { background:#fff; width:650px; margin:5px auto 20px; }
.form-share fieldset { }
.form-share label { color:#1d3d70; font-family:verdana, sans-serif; font-size:197%; }
.form-share select { font-size:138.5%; vertical-align:top; margin:0 0 0 1em; }
.form-share textarea { font-size:arial, sans-serif; font-size:161.6%; color:#000; border:1px solid #1d3d70; -moz-border-radius:5px; -webkit-border-radius:5px; width:630px; height:83px; padding:10px; margin:20px 0; background:#fff url(/assets/img/bg_textarea.png) repeat-x 0 0; }
.form-share .post-it { width:82px; float:right; }
.form-share .character-count { float:right; font-weight:bold; font-size:182%; font-family:verdana, sans-serif; top:0; right:0; color:#1d3d70; }
.form-share .character-count.alert { color:#972a27; }

.threads { background:#fff url(/assets/img/bg_comments.png) repeat-x 0 0; margin:0 19px; padding:20px 0 0; line-height:1.2em; min-height:600px; }
.threads .thread-list { margin:0 20px; }
.threads .thread a { color:#399ccc; }
.threads .thread a:hover { text-decoration:underline; }
.threads .thread .author { font-weight:bold; }
.threads .thread .stamp { font-style:italic; font-weight:bold; color:#399ccc; font-size:93%; margin:0 0 0.5em 55px; }

.threads .thread { }
.threads .thread .post { background:transparent url(/assets/img/bg_message.png) repeat-x scroll 0 0; padding:20px; height:80px; _height:120px; position:relative; }
.threads .thread .post .thumb-lg { float:left; position:relative; margin:0 10px 0 0; }
.threads .thread .post p { font-size:108%; width:75%; margin:0 0 .5em; line-height:1.5em; }
.threads .thread .replies { background:#fff; }
.threads .thread .reply { padding:20px 0 25px 55px; margin:0 20px; height:35px; position:relative; border-bottom:1px solid #c9cecc; }
.threads .thread .reply .thumb-med { float:left; position:relative; margin:0 10px 0 0; }
.threads .thread .reply p { font-size:93%; width:75%; line-height:1.5em; }
.threads .thread .reply .stamp { color:#838283; font-weight:normal; font-size:77%; margin:0 0 0 45px; }
.threads .thread .reply .post-actions { right:0; }

      /* actions */
.post-actions { display:block; position:absolute; top:20px; right:20px; width:15px; height:50px; }
.post-actions li { display:block; overflow:hidden; }
.post-actions li a { display:block; width:15px; height:15px; text-indent:-9999px; margin:0 0 10px; }
.favorite { background:transparent url(/assets/img/sprite_actions.png) no-repeat 0 -20px; }
.favorite:hover, .favorite.on { background-position:0 0; }
.reply-to { background:transparent url(/assets/img/sprite_actions.png) no-repeat 0 -63px; }
.reply-to:hover { background-position:0 -43px; }

.btn { display:block; background:transparent url(/assets/img/sprite_buttons.png) repeat-x 0 0; -moz-border-radius:7px; -webkit-border-radius:7px; height:28px; padding:0; margin:0; padding:0; line-height:30px; font-family:arial, sans-serif; font-size:93%; color:#fff; text-decoration:none; border:0; width:98%; text-align:center; cursor:pointer; }
.join-us { width:82px; float:left; top:15px; left:110px; position:relative; }
.btn:hover { background-position:0 -32px; _background-position:0 -30px; color:#002648; }

	/* flash messages */
#flashMessage {
	display: block;
	position: absolute;
	top: 0pt;
	font-size: 1.2em;
	padding: 6px 0 4px;
	margin-left:19px;
	background: #fff6bf;
	color: #514721;
	border-bottom: 2px solid #ffd324;
	text-align: center;
	width: 730px;
}
.success { background: #e6efc2; border-color: #c6d880; color: #264409; }
.error { background: #fbe3e4; border-color:#fbc2c4; color: #8a1f11; }
.neutral { background-color: #ffffdd; border-color: #4F4800; }
